@import '../../style/colors.scss';

.reactions-container {
  position: absolute;
  z-index: 2;
  &__button {
    color: $appWhite2;
    border: 1px solid $appWhite2;
    border-radius: 3px;
    padding: 4px 6px 0;
    height: 26px;
    width: 40px;
    float: left;
    clear: both;

    &:hover {
      color: $grey10;
      cursor: pointer;
      border-color: $grey10;
    }

    span {
      margin-top: -2px;
      float: right;
      display: block;
    }
  }

  &__picker {
    float: left;
  }
}
