@import '../../style/colors.scss';

.reactions-container {
  position: absolute;
  z-index: 2;
  &__button {
    color: $appWhite2;
    border: 1px solid $appWhite2;
    border-radius: 3px;
    padding: 5px 7px 0;
    height: 30px;
    width: 45px;
    float: left;
    clear: both;

    &:hover {
      color: $grey10;
      cursor: pointer;
      border-color: $grey10;
    }

    span {
      margin-top: -2px;
      float: right;
      display: block;
      margin-left: 5px;
    }
  }

  &__picker {
    float: left;
  }
}
