@import '../../style/colors.scss';

.dashboard {
  background-color: $appBlue1;

  .dashboard__header {
    background-color: $appWhite;
    border-bottom: 1px solid $appWhite1;

    .dashboard__header__logo {
      width: 90px;
      margin: 24px 10px 23px 0;
      float: left;
    }
  }

  .dashboard__content {
    background-color: $appBlue1;

    .dashboard__content__container {
      background: none;
      padding: 10px;
      padding-top: 25px;

      .dashboard__content__container__sider {
        background: none;
      }

      .dashboard__content__container__main {
        padding-left: 25px;
      }
    }
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 970px) {
  .dashboard {
    .dashboard__content {
      background: none;
      width: 970px;
      margin: 0 auto;
    }
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 320px) and (max-width: 970px) {
  .dashboard {
    .dashboard__content {
      background: blue;
    }
  }
}
