@import '../../style/colors.scss';

.dashboard {
  background-color: $appBlue1;

  .dashboard__content {
    background-color: $appBlue1;

    .dashboard__content__container {
      background: none;
      padding: 15px;
      padding-top: 80px;
      position: relative;
      width: inherit;

      .dashboard__content__container__sider {
        background: none;
        position: fixed;
        bottom: 0;
        top: 80px;
      }

      .dashboard__content__container__main {
        padding-left: 25px;
        width: 720px;
        max-width: 720px;
        position: relative;
        float: right;
      }

      &:after {
        content: '';
        display: table;
        clear: both;
        white-space: nowrap;
      }
    }
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 970px) {
  .dashboard {
    .dashboard__content {
      background: none;
      width: 970px;
      margin: 0 auto;
    }
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 320px) and (max-width: 970px) {
  .dashboard {
    .dashboard__content {
      background: blue;
    }
  }
}
