.page-header {
  margin-bottom: 25px;
  .page-header--left {
    &__heading {
      color: #555555;
      font-size: 20px;
      font-family: 'avenir-heavy';
      margin: 0;
      margin-top: 10px;
    }
  }
  .page-header--right {
    text-align: right;
  }
}
