$appWhite: #fff;
$appToolbarColor: #001529;
$appBlue: #5c6ac4;
$appGrey: grey;
$appSoftGrey: #999999;
$appTransparentPurple: #ebe7fd;
$appLightGrey: #f3f3f3;
$appGreen: #4caf50;
$appRed: #bf360c;
$borderGray: #f3f3f3;
$borderGreen: #52c41a;
$headerBackgroundGrey: #fafafa;