// Primary color
$appPrimary: #7067c4;

// white colors
$appWhite: #fff;
$appWhite1: #ececec;
$appWhite2: #dadada;
$appToolbarColor: #001529;

// Greys
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$black: #000000;

// Greens
$appGreen: #3fbd7c;

// Blue colors
$appBlue: #5c6ac4;
$appBlue1: #f6f6fb;
$appGrey: grey;
$appSoftGrey: #999999;
$appTransparentPurple: #ebe7fd;
$appLightGrey: #f3f3f3;
$appRed: #bf360c;
$borderGray: #f3f3f3;
$borderGreen: #52c41a;
$headerBackgroundGrey: #fafafa;
