@import '../../style/colors.scss';

.ant-layout-header.global-header {
  background-color: $appWhite;
  height: 56px;
  line-height: 56px;
  box-shadow: 0px 2px 2px $shadow1;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 1026;

  .global-header__left__logo {
    width: 86px;
    margin: 20px 10px 20px 10px;
    float: left;
  }

  .global-header__center {
    text-align: center;
    &__search {
      max-width: 440px;
    }
  }

  .global-header__right {
    text-align: right;

    .ant-badge-dot {
      background-color: $appGreen;
    }

    .global-header__right__notification-btn {
      float: right;
      padding: 0 20px;
      color: $grey7;

      &:hover {
        color: $grey4;
        cursor: pointer;
      }
    }
  }
}
